.menuDiv{
    background-color : #ffffff;
    height: 100vh;
    position : fixed;
    padding: 0 25px;
}

.patients{
    margin-top: 30px;
    text-align: center;
}

.patientsImg{
    width:31px;
    height:31px;

}

.userImg{
    width:65px;
    height:65px;
    border:1px #000 solid;
    border-radius: 100px;
    padding:10px;
}

.patientsLabel{
    font-family: Quicksand, Regular;
    color: #7AC4FF;
    font-size: 12px;
    margin-top: 7px;
}

.doctorsImg{
    width:42px;
    height:42px;
}

.logo{
    position: fixed;
    bottom: 25px;
    left: 20px;
    height: auto;
}

.logoImg{
    width: 83px;
    height:74px;
}

.alignCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

