.registoLabel{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    font-family: Quicksand, Regular;
    color: #7AC4FF;
    font-size: 22px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #7AC4FF;
}

.formInput{
    font-family: Quicksand, Regular;
    color: #7AC4FF;
    margin-right: 40px;
    width: 50% !important;
}

.dropdown{
    width: 50% !important;
}


