
.doctorName, .searchBarDiv{
    margin-top: 50px;
    margin-bottom: 74px;
}

.searchBarDiv{
    position: absolute;
    right: 25px;
    height: 42px;
}

.searchBar{
   margin: 0 auto;
   border: 1px solid #2699FB;
   border-radius: 50px;
   background-color: transparent;
   padding-left: 10px;
   background: url('../images/icons/search.svg') no-repeat right;
   background-size: 20px;
   background-position-x: 97%;
}

::placeholder{
    font-size: 14px;
    color: #2699FB;
    opacity: 0.5;
}

.searchBar:focus{
    outline: none;
}

.doctorNameLabel{
    font-family: Quicksand, Regular;
    color: #7AC4FF;
    font-size: 15px;
    text-align: left;
}

.botaoMais{
    background-color: #F1F9FF;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    border-radius:100px;
    cursor: pointer;
    margin: auto;
    font-size:20px;
    width: 50px;
    height: 50px;
}

.addPatientLabel{
    font-family: Quicksand, Regular;
    color: #2699FB;
    font-size: 20px;
    text-align: center;
    display: inline;
}

.tableHeaderItem, .tableBodyItem{
    border-right: 1px solid rgba(38, 153, 251, 0.2);
}

 .tableHeaderItem, .tableHeaderLastItem, .tableBodyItem, .tableBodyLastItem{
    text-align: center !important;
    color: rgba(38, 153, 251, 0.7) !important;
    font-family: Quicksand, Regular;
}
.tableHeaderItem, .tableHeaderLastItem{
    font-size: 18px !important;
}

.tableBodyItem, .tableBodyLastItem{
    font-size: 14px !important;
}

.tableBodyRow, .tableHeaderRow{
    height: 90px !important;
}

.tableBodyRow{
    background-color:#f2f3f7;
}

.tableBodyItem, .tableBodyLastItem{
    padding : 20px 0px 0px 0px!important;
    height: 100%;

}

.tableBodyItemInnerDiv{
    background-color:#F1F9FF !important;
    height: auto!important;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    cursor: pointer;
}

.alertImg{
    height: 20px;
    width: 20px;
    margin-left: 15px;
}
