.tag-centered{
    float: none;
    margin: 0 auto;
}

.content-center
{
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
}

.content-middle-page {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.btn-to-middle {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.other-content-center {
    text-align:center;
}

.patient-code-box {
    text-align:center;
    align: center;
}

